@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #333333;
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

/*index*/
/* main header */

.site-pad {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

/* универсальные классы описаний*/

.description-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.title-text {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.button {
  background-color: #756157;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 4px;
}

.navigation-item-button {
  padding: 8px 34px;
  margin-left: auto;
}

.button-brown-large {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.button-brown-small {
  padding: 8px 26px;
  width: 88px;
  margin-bottom: 16px;
}

.button-blue-large {
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
}

.button-blue-medium {
  background-color: #82B3D3;
}

.button-blue-small {
  background-color: #82B3D3;
  padding: 8px 20px;
  width: 100px;
  margin-bottom: 16px;
}

.button-green-small {
  background-color: #7DB54F;
  padding: 8px 18px;
  width: 104px;
  margin-bottom: 16px;
}

.button-transparent {
  background-color: transparent;
}

.hotel-rate {
  background-color: #F2F2F2;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  margin: 0;
  border-radius: 4px;
  width: 140px;
}

/*navigation*/

.navigation {
  display: flex;
  padding: 0 70px;
  align-items: center;
}

.navigation-logo-holder {
  width: 138px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 340px;
  margin-left: 30px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 268px;
  margin-left: auto;
}

.navigation-link {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
}

.navigation-item-link {
  min-width: 44px;
}

/* hero */

.hero-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 82px;
}

.hero {
  background-image: url("../images/background/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: 100% auto;
  padding-top: 50px;
  padding-bottom: 20px;
}

.hero-title-wrapper {
  display: flex;
  flex-direction: column;
  padding: 70px 274px;
}

.hero-title {
  margin-bottom: 26px;
}

/* advantages */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-container {
  width: 230px;
  min-height: 200px;
  padding: 90px 85px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 62px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.advantages-blue {
  display: flex;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-blue-reverse {
  flex-direction: row-reverse;
}

.advantages-blue .advantages-title {
  color: #FFFFFF;
}

.advantages-light-blue {

  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-light-light-blue {

  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-img {
  display: block;
}

/* welcome */

.welcome-wrapper {
  padding: 64px 348px;
}

.welcome-list {
  display: flex;
}

.welcome-item {
  width: 400px;
  padding: 81px 85px;
}

.welcome-title-main {
  margin-bottom: 20px;
}

.welcome-title {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 30px;
}

.welcome-item-blue {
  background-color: #83B3D31F;
}

.hotels-search {
  padding-top: 96px;
  padding-bottom: 96px;
}

.hotels-search-wrapper {
  width: 592px;
  margin: 0 auto;
  text-align: center;
}

.hotels-search-title {
  margin-bottom: 20px;
}

.hotels-search-description {
  margin-bottom: 54px;
}

/* subscribe*/

.subscribe {
  padding: 96px 258px 104px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-index {
  background-color: #1E4043;
  background-image: url("../images/background/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-position: 100% auto;
}

.subscribe-title-index {
  color: #FFFFFF;
  margin-bottom: 20px;
}

.subscribe-description-index {
  color: #FFFFFF;
  margin-bottom: 54px;
}

.subscribe-title-catalog {
  margin-bottom: 20px;
}

.subscribe-description-catalog {
  margin-bottom: 54px;
}

/*footer*/

.page-footer {
  padding: 40px 70px 30px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  display: flex;
}

.html-academy-number {
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.html-academy-logo {
  display: block;
  min-width: 115px;
  min-height: 33px;
}

.social-link {
  min-width: 48px;
  min-height: 40px;
}

/*catalog*/

.catalog-catalog {
  padding: 50px 70px 60px;
}

.catalog-filter-wrapper {
  background-color: #6A6260;
  background-image: url("../images/background/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 100% auto;
}

.catalog-header-title {
  color: #FFFFFF;
  margin: 0;
}

.breadcrumbs-item {
  display: flex;
}

.breadcrumbs-link {
  color: #FFFFFF;
  margin-right: 28px;
}

.catalog-filter-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-item {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 23px;
}

.select-control {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.sorting-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.button-view {
  width: 48px;
}

/*hotels cards*/

.hotel-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 80px;
}

.hotel-card-item {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  width: 298px;
}

.hotel-card-link {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.hotel-card-title {
  margin-top: 16px;
  margin-bottom: 16px;
}

.hotel-card-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stars {
  width: 140px;
}

.hotel-card-type {
  padding-right: 10px;
  margin-bottom: 16px;
}

.hotel-card-price {
  /*не ввел ширину для этих двух span (hotel-card-type и hotel-card-price) тк с шириной 50% сетка ломается.
  Без width все работет отлично. Она необходима в итоге?*/
  padding-left: 10px;
  /* padding необходим для защиты от слипания? без него ничего не меняется тоже */
  margin-bottom: 16px;
  /*margin-bottom: 16px;, заданный повторно этому span не влияет на отображение в карточке, но через devtools я вижу почему.
  Все таки подумал безопаснее задать и второму span свойство margin-bottom, оставим?
  как защита от слипания при переполнении?*/
}

.pagination-list {
  display: flex;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

/* старая версия через padding, но line height по макету (36px)
.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 4px;
}

.pagination-item:last-child .pagination-link {
  padding: 12px 18px;
}
*/

/* новая версия через line height: 60px , text-align: center*/
.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
}

.pagination-link-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-link-more {
  background-color: transparent;
  color: #000000;
}
